In [165]:
import pandas as pd
from datetime import datetime
import dateutil.parser

In [166]:
path_photovoltiac = './../../raw-data/weather/stromproduktion-der-solaranlagen-der-stgaller-stadtwerke.csv'
df = pd.read_csv(path_photovoltiac, sep=';')

In [167]:
df.describe()

,Additional Energy Import,Active Energy Import Total,Additional Energy Export,Active Energy Export Total,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2
count,159103.000000,159116.000000,159103.000000,1.591160e+05,146312.000000,146312.000000,133778.000000,146312.000000,146312.000000
mean,0.435131,2519.276277,1296.464251,8.875942e+06,34.707687,170.955335,223.269327,31.944274,246.712881
std,1.419621,4257.498901,2069.345188,6.553582e+06,13.465178,53.592497,105.361159,12.345412,56.473743
min,0.000000,0.000000,0.000000,1.300000e-02,6.480000,103.000000,36.000000,7.600000,174.000000
25%,0.000000,37.289000,0.000000,2.919086e+06,33.475000,148.000000,110.000000,27.600000,218.000000
50%,0.000000,367.767000,155.801000,7.955810e+06,39.960000,152.000000,270.000000,36.000000,250.000000
75%,0.000000,3192.407000,1792.958000,1.446543e+07,43.200000,198.000000,275.000000,40.000000,260.000000
max,27.120000,21699.454000,10800.156000,2.712570e+07,54.760000,324.000000,370.000000,50.000000,410.000000

In [168]:
df

,DateTime (Local Time),smart-me ID,Name,Name des Smart-Me Zählers,Additional Energy Import,Active Energy Import Total,Additional Energy Export,Active Energy Export Total,Unit,Link,Modultyp,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2,Geo Shape,Geo Point
0,2021-04-26T16:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.0,0.024,3076.309,1.758893e+04,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238"
1,2021-04-26T17:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.0,0.024,2245.159,2.796308e+04,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238"
2,2021-04-26T18:00:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.0,0.024,1850.242,3.191822e+04,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238"
3,2021-04-26T18:15:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.0,0.024,1541.421,3.345964e+04,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238"
4,2021-04-26T18:45:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.0,0.024,986.271,3.567993e+04,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159111,2021-08-07T11:30:00+02:00,4c08aacb-26b5-db27-a259-0868e8b5c00f,Unterwerk St.Gallen-Ost,PV Martinsbruggstrasse 84 UW Ost,0.0,17382.494,2257.411,2.286720e+07,Wh,https://sgsw.solarlog-web.ch/62733.html,Longi Solar LR4-60 HIH,54.76,148.0,370.0,50.0,250.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.420872...","47.4396251238,9.42102396426"
159112,2021-08-07T11:45:00+02:00,4c08aacb-26b5-db27-a259-0868e8b5c00f,Unterwerk St.Gallen-Ost,PV Martinsbruggstrasse 84 UW Ost,0.0,17382.494,2688.473,2.286989e+07,Wh,https://sgsw.solarlog-web.ch/62733.html,Longi Solar LR4-60 HIH,54.76,148.0,370.0,50.0,250.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.420872...","47.4396251238,9.42102396426"
159113,2021-08-07T12:15:00+02:00,4c08aacb-26b5-db27-a259-0868e8b5c00f,Unterwerk St.Gallen-Ost,PV Martinsbruggstrasse 84 UW Ost,0.0,17382.494,7922.944,2.288106e+07,Wh,https://sgsw.solarlog-web.ch/62733.html,Longi Solar LR4-60 HIH,54.76,148.0,370.0,50.0,250.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.420872...","47.4396251238,9.42102396426"
159114,2021-08-07T16:00:00+02:00,4c08aacb-26b5-db27-a259-0868e8b5c00f,Unterwerk St.Gallen-Ost,PV Martinsbruggstrasse 84 UW Ost,0.0,17382.494,813.211,2.293448e+07,Wh,https://sgsw.solarlog-web.ch/62733.html,Longi Solar LR4-60 HIH,54.76,148.0,370.0,50.0,250.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.420872...","47.4396251238,9.42102396426"
159115,2021-08-07T16:15:00+02:00,4c08aacb-26b5-db27-a259-0868e8b5c00f,Unterwerk St.Gallen-Ost,PV Martinsbruggstrasse 84 UW Ost,0.0,17382.494,1214.612,2.293570e+07,Wh,https://sgsw.solarlog-web.ch/62733.html,Longi Solar LR4-60 HIH,54.76,148.0,370.0,50.0,250.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.420872...","47.4396251238,9.42102396426"

In [169]:
df['timestamp'] = df['DateTime (Local Time)'].map(lambda x: dateutil.parser.isoparse(x))

In [170]:
df.head(100)

,DateTime (Local Time),smart-me ID,Name,Name des Smart-Me Zählers,Additional Energy Import,Active Energy Import Total,Additional Energy Export,Active Energy Export Total,Unit,Link,Modultyp,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2,Geo Shape,Geo Point,timestamp
0,2021-04-26T16:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,0.024,3076.309,17588.931,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-04-26 16:30:00+02:00
1,2021-04-26T17:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,0.024,2245.159,27963.081,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-04-26 17:30:00+02:00
2,2021-04-26T18:00:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,0.024,1850.242,31918.217,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-04-26 18:00:00+02:00
3,2021-04-26T18:15:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,0.024,1541.421,33459.638,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-04-26 18:15:00+02:00
4,2021-04-26T18:45:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,0.024,986.271,35679.925,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-04-26 18:45:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-05-01T07:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.308,2.230,3.576,356480.504,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-05-01 07:30:00+02:00
96,2021-05-01T07:45:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.097,2.327,0.914,356481.418,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-05-01 07:45:00+02:00
97,2021-05-01T08:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,2.403,121.061,356702.477,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-05-01 08:30:00+02:00
98,2021-05-01T09:30:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,2.403,151.549,357439.285,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-05-01 09:30:00+02:00
99,2021-05-01T09:45:00+02:00,115a4cd6-c5b2-d6a6-14dc-b03078644337,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 49,0.000,2.403,155.096,357594.381,Wh,https://sgsw.solarlog-web.ch/40472.html,Siemens SM110,21.78,198.0,110.0,20.0,178.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384719...","47.4312365481,9.38471976238",2021-05-01 09:45:00+02:00

In [171]:
df['timestamp'] = df['timestamp'].map(lambda x: x.replace(second=0, microsecond=0, minute=0))

In [172]:
df.groupby('Name').count()

,DateTime (Local Time),smart-me ID,Name des Smart-Me Zählers,Additional Energy Import,Active Energy Import Total,Additional Energy Export,Active Energy Export Total,Unit,Link,Modultyp,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2,Geo Shape,Geo Point,timestamp
Name,,,,,,,,,,,,,,,,,,
Containerbau Lattich,12534,12534,12534,12533,12534,12533,12534,12534,12534,12534,12534,12534,0,12534,12534,12534,12534,12534
Future Champs Ostschweiz,12612,12612,12612,12611,12612,12611,12612,12612,12612,12612,12612,12612,12612,12612,12612,12612,12612,12612
Kirche Halden,12900,12900,12900,12899,12900,12899,12900,12900,12900,12900,12900,12900,12900,12900,12900,12900,12900,12900
PV Zürcher Strasse 67,12804,0,12804,12803,12804,12803,12804,12804,0,0,0,0,0,0,0,0,0,12804
Primarschule St.Leonhard,12799,12799,12799,12798,12799,12798,12799,12799,12799,12799,12799,12799,12799,12799,12799,0,0,12799
Sonnmattstrasse 23,9469,9469,9469,9468,9469,9468,9469,9469,9469,9469,9469,9469,9469,9469,9469,9469,9469,9469
Sturzeneggstrasse 36,12710,12710,12710,12709,12710,12709,12710,12710,12710,12710,12710,12710,12710,12710,12710,0,0,12710
Sturzeneggstrasse 38,12723,12723,12723,12722,12723,12722,12723,12723,12723,12723,12723,12723,12723,12723,12723,0,0,12723
Sturzeneggstrasse 40,12633,12633,12633,12632,12633,12632,12633,12633,12633,12633,12633,12633,12633,12633,12633,0,0,12633
Unterwerk St.Gallen-Ost,12335,12335,12335,12334,12335,12334,12335,12335,12335,12335,12335,12335,12335,12335,12335,12335,12335,12335
Werkhof St.Galler Stadtwerke,35597,35597,35597,35594,35597,35594,35597,35597,35597,35597,35597,35597,35597,35597,35597,35597,35597,35597

In [173]:
df_hour = df.groupby('timestamp', as_index=False).sum()[['timestamp', 'Additional Energy Export', 'Leistung in kWp', 'Fläche in m2']]
df_hour.head()

,timestamp,Additional Energy Export,Leistung in kWp,Fläche in m2
0,2021-04-19 12:00:00+02:00,15267.519,164.28,750.0
1,2021-04-19 13:00:00+02:00,34282.264,219.04,1000.0
2,2021-04-19 14:00:00+02:00,31314.670,219.04,1000.0
3,2021-04-19 15:00:00+02:00,37419.332,358.24,1789.0
4,2021-04-19 16:00:00+02:00,43688.291,404.64,2052.0

In [174]:
df['date'] = df['timestamp'].map(lambda x: x.replace(second=0, microsecond=0, minute=0, hour=0, tzinfo=None))

In [175]:
df_day = df.groupby('date', as_index=False).sum()[['date', 'Additional Energy Export', 'Leistung in kWp', 'Fläche in m2']]
df_day['Leistung in kWp'] = df.groupby('date', as_index=False).mean()[['Leistung in kWp']]
df_day.describe()

       Additional Energy Export  Leistung in kWp   Fläche in m2
count              1.350000e+02       135.000000     135.000000
mean               1.527936e+06        35.087170  267385.592593
std                6.893614e+05         2.697893   39170.834762
min                1.971316e+05        32.465364   20955.000000
25%                9.845232e+05        34.323250  265920.000000
50%                1.458799e+06        34.323250  282624.000000
75%                2.070803e+06        34.400364  282624.000000
max                2.968619e+06        51.191707  285568.000000

In [176]:
df.groupby('date', False).mean()

,Additional Energy Import,Active Energy Import Total,Additional Energy Export,Active Energy Export Total,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2
date,,,,,,,,,
2021-04-19,1.114787,12.478829,2753.480637,9.300498e+04,51.191707,174.890244,305.975610,47.993902,255.548780
2021-04-20,0.694883,65.435162,2431.029191,1.945383e+05,49.525714,176.714286,292.142857,46.557143,257.000000
2021-04-21,0.429798,73.151707,2197.965908,2.893329e+05,45.320701,163.800539,284.191375,43.031806,247.924528
2021-04-22,0.475186,87.593165,1561.859174,3.517975e+05,42.795702,155.896014,279.150780,40.885269,242.206239
2021-04-23,0.515677,118.409084,2571.953040,4.614265e+05,42.369903,154.707586,277.857143,39.398069,243.790345
...,...,...,...,...,...,...,...,...,...
2021-08-27,0.522682,5137.712849,789.003413,1.563847e+07,34.323250,170.083333,222.909091,31.575000,245.333333
2021-08-28,0.477964,5186.740885,431.422849,1.569954e+07,34.323250,170.083333,222.909091,31.575000,245.333333
2021-08-29,0.434214,5231.239260,355.628565,1.573690e+07,34.323250,170.083333,222.909091,31.575000,245.333333
2021-08-30,0.434909,5272.697067,473.578836,1.577476e+07,34.323250,170.083333,222.909091,31.575000,245.333333
2021-08-31,0.430131,5314.611304,818.876461,1.583407e+07,34.323250,170.083333,222.909091,31.575000,245.333333

In [177]:
path_weather = './../../raw-data/weather/nbcn-daily_STG_current.csv'
df_weather = pd.read_csv(path_weather, sep=';')
df_weather.describe()

,date,gre000d0,hto000d0,prestad0,rre150d0,sre000d0,tre200d0,tre200dn,tre200dx,ure200d0
count,3.080000e+02,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000,308.000000
mean,2.021058e+07,156.000000,3.042208,927.762662,4.715260,313.418831,9.567857,6.051948,13.371429,74.273377
std,2.923021e+02,94.945724,10.942618,6.401674,8.854535,271.217637,7.073189,6.674656,7.777707,13.982379
min,2.021010e+07,9.000000,0.000000,906.600000,0.000000,0.000000,-9.600000,-12.600000,-8.000000,23.500000
25%,2.021032e+07,76.750000,0.000000,924.575000,0.000000,39.750000,5.175000,1.575000,8.800000,66.275000
50%,2.021060e+07,146.000000,0.000000,928.550000,0.000000,266.500000,9.900000,5.800000,14.150000,76.600000
75%,2.021082e+07,235.250000,0.000000,931.550000,6.350000,542.000000,15.325000,11.825000,19.525000,84.600000
max,2.021110e+07,372.000000,75.000000,943.200000,73.700000,916.000000,24.000000,19.300000,28.000000,98.900000



| Parameter      |      Einheit    |      Beschreibung
| ---------------|-----------------|----------------------------------------------------------------
| gre000d0       |      W/m²       |      Globalstrahlung; Tagesmittel
| hto000d0       |      cm         |      Gesamtschneehöhe; Morgenmessung von 6 UTC
| nto000d0       |      %          |      Gesamtbewölkung; Tagesmittel
| prestad0       |      hPa        |      Luftdruck auf Stationshöhe (QFE); Tagesmittel
| rre150d0       |      mm         |      Niederschlag; Tagessumme 6 UTC - 6 UTC Folgetag
| sre000d0       |      min        |      Sonnenscheindauer; Tagessumme
| tre200d0       |      °C         |      Lufttemperatur 2 m über Boden; Tagesmittel
| tre200dn       |      °C         |      Lufttemperatur 2 m über Boden; Tagesminimum
| tre200dx       |      °C         |      Lufttemperatur 2 m über Boden; Tagesmaximum
| ure200d0       |      %          |      Relative Luftfeuchtigkeit 2 m über Boden; Tagesmittel

In [178]:
df_weather['date'] = df_weather['date'].map(lambda x: datetime.strptime(str(x), '%Y%m%d'))
df_weather.head()

,station/location,date,gre000d0,hto000d0,nto000d0,prestad0,rre150d0,sre000d0,tre200d0,tre200dn,tre200dx,ure200d0
0,STG,2021-01-01,39,5,-,916.4,0.0,73,-0.2,-2.6,1.8,84.7
1,STG,2021-01-02,19,5,-,917.7,0.0,0,-1.4,-3.0,-0.3,91.0
2,STG,2021-01-03,13,5,-,918.4,0.0,0,-2.3,-3.2,-1.5,94.4
3,STG,2021-01-04,23,5,-,918.8,0.0,0,-2.4,-3.4,-1.5,85.2
4,STG,2021-01-05,10,5,-,919.0,1.2,0,-3.5,-4.0,-3.1,89.5

In [179]:
df_weather_rel = df_weather[['date', 'tre200d0', 'sre000d0', 'rre150d0']]

In [180]:
train_test_data = pd.merge(df_day, df_weather_rel, on='date', how='inner')
train_test_data.head()

,date,Additional Energy Export,Leistung in kWp,Fläche in m2,tre200d0,sre000d0,rre150d0
0,2021-04-19,220278.451,51.191707,20955.0,5.5,430,0.0
1,2021-04-20,624774.502,49.525714,57568.0,7.3,639,0.0
2,2021-04-21,1022054.147,45.320701,91980.0,9.3,638,0.0
3,2021-04-22,1048007.506,42.795702,139753.0,8.9,418,0.0
4,2021-04-23,2109001.493,42.369903,176748.0,8.4,790,0.0

In [181]:
train_test_data = train_test_data.rename(columns={'tre200d0': 'temp', 'sre000d0': 'sunshine', 'rre150d0': 'rain'})
train_test_data.head()

,date,Additional Energy Export,Leistung in kWp,Fläche in m2,temp,sunshine,rain
0,2021-04-19,220278.451,51.191707,20955.0,5.5,430,0.0
1,2021-04-20,624774.502,49.525714,57568.0,7.3,639,0.0
2,2021-04-21,1022054.147,45.320701,91980.0,9.3,638,0.0
3,2021-04-22,1048007.506,42.795702,139753.0,8.9,418,0.0
4,2021-04-23,2109001.493,42.369903,176748.0,8.4,790,0.0

In [182]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [184]:
Y = train_test_data['Additional Energy Export']
X = train_test_data.drop(['Additional Energy Export'], axis=1)
X['dayofyear'] = X['date'].map(lambda x: x.timetuple().tm_yday) 
X = X.drop(['date'], axis=1)
X.head()

   Leistung in kWp  Fläche in m2  temp  sunshine  rain  dayofyear
0        51.191707       20955.0   5.5       430   0.0        109
1        49.525714       57568.0   7.3       639   0.0        110
2        45.320701       91980.0   9.3       638   0.0        111
3        42.795702      139753.0   8.9       418   0.0        112
4        42.369903      176748.0   8.4       790   0.0        113

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [186]:
reg = LinearRegression().fit(X_train, y_train)

In [187]:
from sklearn.metrics import r2_score

In [188]:
r2_score(y_test, reg.predict(X_test))

0.8314454569334888

In [189]:
y_pred = reg.predict(X_test)

In [190]:
weatherforecast = pd.read_csv('./weatherforecast.csv')
weatherforecast.head()

,Unnamed: 0,timestamp,rainfall,sunshine,temperature,datetime
0,0,1636153200000,0.0,0,2.0,2021-11-06 00:00:00
1,1,1636156800000,0.0,0,1.7,2021-11-06 01:00:00
2,2,1636160400000,0.0,0,1.3,2021-11-06 02:00:00
3,3,1636164000000,0.0,0,1.3,2021-11-06 03:00:00
4,4,1636167600000,0.0,0,1.0,2021-11-06 04:00:00

In [191]:

weatherforecast['datetime'] = weatherforecast['datetime'].map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
weatherforecast.head(1)

   Unnamed: 0      timestamp  rainfall  sunshine  temperature   datetime
0           0  1636153200000       0.0         0          2.0 2021-11-06

In [192]:
weatherforecast['date'] = weatherforecast['datetime'].map(lambda x: x.replace(second=0, microsecond=0, minute=0, hour=0, tzinfo=None))
weatherforecast['dayofyear'] = weatherforecast['date'].map(lambda x: x.timetuple().tm_yday) 

weatherdaily = weatherforecast[['dayofyear', 'rainfall', 'sunshine']].groupby('dayofyear', as_index=False).sum()
weatherdaily['temperature'] = weatherforecast[['dayofyear', 'temperature']].groupby('dayofyear', as_index=False).mean()['temperature']
weatherdaily.head()

   dayofyear  rainfall  sunshine  temperature
0        310       0.0       456     2.229167
1        311       0.1       442     3.912500
2        312       0.8       179     4.520833
3        313       0.0       412     2.854167
4        314       0.0       382     3.166667

In [193]:
current_production = pd.read_csv('./../../raw-data/weather/aktuelle-stromproduktion-der-solaranlagen-der-stgaller-stadtwerke.csv', sep=';')
current_production.head()

,ValueDate,ID,Name,Name des Smart-Me Zählers,ActivePower,ActivePowerUnit,CounterReadingImport,CounterReadingExport,CounterReading,CounterReadingUnit,...,Prozentuale Produktion,Link,Modultyp,Leistung in kWp,Anzahl Module,Leistung / Modul in Wp,Wechselrichterleistung in kVA,Fläche in m2,Geo Shape,Geo Point
0,2021-11-06T14:10:00+01:00,4c2a0f35-361f-5c22-7e74-b3728401f3a2,Sturzeneggstrasse 40,PV Sturzeneggstrasse 40,-12.724403,kW,4.656381,26501.971109,-26497.314728,kWh,...,60,noch nicht vorhanden,Suntech STP270S,41.040,152.0,270,40.0,247.0,NaN,NaN
1,2021-11-06T14:09:10+01:00,5002d61c-1a77-1517-263b-00e2971f89a6,PV Dreilindenhang 30,PV Dreilindenhang 30,-0.520976,kW,5.038962,1915.246931,-1910.207969,kWh,...,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-06T14:09:15+01:00,ebbaa4a5-bbd8-50cf-8cf0-5e5d17eaf03c,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 47 Spital,-0.062048,kW,0.115064,4513.778409,-4513.663345,kWh,...,100,https://sgsw.solarlog-web.ch/40472.html,Newtec SDZ 34-10,11.664,324.0,36,11.4,410.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384580...","47.4308065403,9.38462685273"
3,2021-11-06T14:09:12+01:00,ab2d9159-6785-595f-1353-6bf6aed916d9,Werkhof St.Galler Stadtwerke,PV Steinachstrasse 47 OLMA,-0.150616,kW,0.003306,1201.329428,-1201.326122,kWh,...,100,https://sgsw.solarlog-web.ch/40472.html,Newtec SDZ 34-10,6.480,180.0,36,7.6,228.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.384286...","47.4309449179,9.38430229501"
4,2021-11-06T14:08:55+01:00,616bad51-47cd-52de-ca1e-49fa646072e7,Containerbau Lattich,PV Güterbahnhofstrasse 7,-10.769660,kW,16.184850,26647.014893,-26630.830043,kWh,...,100,https://sgsw.solarlog-web.ch/61003.html,diverse Ersatzmodule,41.300,151.0,NaN,27.6,252.0,"{""type"": ""Polygon"", ""coordinates"": [[[9.364939...","47.4181559447,9.36462937969"

In [194]:
current_production['Leistung in kWp'].dropna().sum()

443.59900000000005

In [200]:
weatherdaily['Leistung in kWp'] = current_production['Leistung in kWp'].dropna().sum()
weatherdaily['Fläche in m2'] = current_production['Fläche in m2'].dropna().mean()
weatherdaily.head()

   dayofyear  rainfall  sunshine  temperature  Leistung in kWp  Fläche in m2
0        310       0.0       456     2.229167          443.599    242.923077
1        311       0.1       442     3.912500          443.599    242.923077
2        312       0.8       179     4.520833          443.599    242.923077
3        313       0.0       412     2.854167          443.599    242.923077
4        314       0.0       382     3.166667          443.599    242.923077

In [201]:
X_train.head()

    Leistung in kWp  Fläche in m2  temp  sunshine  rain  dayofyear
69        34.323250      282624.0  19.6       595   1.2        178
93        34.323250      282624.0  18.5       817   0.0        202
47        34.323250      282624.0  13.7       107  16.8        156
30        34.400364      265920.0   7.0       174   6.5        139
76        34.323250      282624.0  15.4        27   7.4        185

In [205]:
X_pred = weatherdaily[['Leistung in kWp', 'Fläche in m2', 'temperature', 'sunshine', 'rainfall', 'dayofyear']]
X_pred = X_pred.rename(columns={'temperature': 'temp', 'rainfall': 'rain'})
X_pred.head()

   Leistung in kWp  Fläche in m2      temp  sunshine  rain  dayofyear
0          443.599    242.923077  2.229167       456   0.0        310
1          443.599    242.923077  3.912500       442   0.1        311
2          443.599    242.923077  4.520833       179   0.8        312
3          443.599    242.923077  2.854167       412   0.0        313
4          443.599    242.923077  3.166667       382   0.0        314

In [215]:
y_pred = reg.predict(X_pred)
prediction = pd.DataFrame({'production': y_pred, 'day': X_pred['dayofyear'].map(lambda x: datetime.strptime(str(datetime.now().year) + "-" + str(x), "%Y-%j"))})
prediction.to_csv('prediction.csv')

datetime.datetime(2021, 11, 6, 0, 0)

2021